{% extends 'base.html.twig' %}

{% set title = 'Zorglux - Connexion à Votre Compte' %}
{% set description = "Connectez-vous à Zorglux pour accéder à un monde de connaissances. Profitez des derniers articles, idées exclusives, et participez à notre communauté dynamique. Rejoignez-nous maintenant !" %}
{% set logoUrl = 'https://zorglux-bucket.s3.eu-north-1.amazonaws.com/zorglux.webp' %}

{% block canonical %}
    <link rel="canonical" href="{{ absolute_url(path('app_login')) }}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ description }}">
    <meta name="author" content="Zorglux">
{% endblock %}

{% block meta_og %}
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ logoUrl }}">
    <meta property="og:url" content="{{ path('app_login') }}">
{% endblock %}

{% block meta_twitter %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ logoUrl }}">
{% endblock %}

{% block jsonld %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebPage",
            "headline": "{{ title }}",
            "description": "{{ description }}",
            "image": "{{ logoUrl }}",
            "author": {
                "@type": "Organization",
                "name": "Zorglux",
                "logo": "{{ logoUrl }}",
                "url": "{{ absolute_url(path('public_index')) }}"
            },
            "publisher": {
                "@type": "Organization",
                "name": "Zorglux",
                "logo": {
                    "@type": "ImageObject",
                    "url": "{{ logoUrl }}"
                }
            },
            "url": "{{ path('app_login') }}"
        }
    </script>

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "ItemList",
            "itemListElement": [
        {% for blog in blogs %}
            {
                "@type": "ListItem",
                "position": {{ loop.index }},
                "item": {
                    "@type": "BlogPosting",
                    "headline": "{{ blog.title }}",
                    "description": "{{ blog.description }}",
                    "articleBody": "{{ blog.content|striptags|replace({'\n': ' ', '\r': ' '}) }}",
                    "datePublished": "{{ blog.createdAt|date('Y-m-d\\TH:i:sP') }}",
                    "dateModified": "{{ blog.updatedAt|date('Y-m-d\\TH:i:sP') }}",
                    "mainEntityOfPage": {
                      "@type": "WebPage",
                      "@id": "{{ path('blog_read', { slug: blog.slug }) }}"
                    },
                    "url": "{{ path('blog_read', { slug: blog.slug }) }}",
                    "author": {
                        "@type": "Person",
                        "name": "{{ blog.author.username }}"
                    },
                    "image": "{{ blog.thumbnail }}"
                }
            }{% if not loop.last %},{% endif %}
        {% endfor %}
        ]
    }
    </script>
{% endblock %}

{% block body_header %}
    {% include '@common/navbar.html.twig' %}
{% endblock %}

{% block body_content %}
    <twig:Container>
        <form method="post" class="mt-5 p-5 shadow-lg border">
            <h1 class="text-3xl mb-2">Content de te revoir sur Zorglux.</h1>

            <div class="mb-3 flex flex-col">
                <label class="text-sm" for="username">Nom d'utilisateur</label>
                <input type="text" value="{{ last_username }}" name="_username" id="username" autocomplete="username" required autofocus
                       class="outline-0 ring-0 border-b rounded-sm outline-none focus:border-black p-1">
            </div>
            <div class="mb-3 flex flex-col">
                <label class="text-sm" for="password">Mot de passe</label>
                <input type="password" name="_password" id="password" autocomplete="current-password" required
                       class="border-b rounded-sm outline-none focus:border-black p-1">
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {% if error %}
                <twig:Alert classes="rounded mb-2" color="danger" variant="small" text="{{ error.messageKey|trans(error.messageData, 'security') }}" />
            {% endif %}

            <button class="bg-gray-800 text-white px-4 py-2 rounded w-full" type="submit">
                Se Connecter
            </button>
            <div class="mt-2 text-center text-xs">
                <p>Pas encore membre ? Pas de problème.</p>
                <a href="{{ path('app_register') }}" class="text-gray-700 font-bold">Créer un compte</a>
            </div>
        </form>

        <div class="py-5">
            <h2 class="text-lg">Lire les posts récents</h2>
            {% include '@public/partials/latest-posts.html.twig' with {
                grid: 'md:grid-cols-2'
            } %}
        </div>

        <div class="py-5">
            <h2 class="font-bold">Galeries photos</h2>
            {% include '@public/partials/gallery.html.twig' with {
                images: galleries,
                withMoreLink: true,
                grid: 'nothing'
            } %}
        </div>
    </twig:Container>
{% endblock %}
