{% extends 'base.html.twig' %}

{% set title = 'Zorglux - Rejoignez-nous sur les Médias Sociaux' %}
{% set description = "Suivez Zorglux sur Twitter, TikTok, Facebook, LinkedIn et YouTube pour les dernières nouvelles, mises à jour et contenus exclusifs. Rejoignez notre communauté en ligne et restez connecté avec les tendances et les discussions les plus récentes." %}
{% set logoUrl = 'https://zorglux-bucket.s3.eu-north-1.amazonaws.com/zorglux.webp' %}

{% block canonical %}
    <link rel="canonical" href="{{ absolute_url(path('public_social_share')) }}">
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block meta %}
    <meta name="description" content="{{ description }}">
    <meta name="author" content="Zorglux">
{% endblock %}

{% block meta_og %}
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ logoUrl }}">
    <meta property="og:url" content="{{ path('public_social_share') }}">
{% endblock %}

{% block meta_twitter %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ logoUrl }}">
{% endblock %}

{% block jsonld %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebPage",
            "headline": "{{ title }}",
            "description": "{{ description }}",
            "image": "{{ logoUrl }}",
            "author": {
                "@type": "Organization",
                "name": "Zorglux",
                "logo": "{{ logoUrl }}",
                "url": "{{ absolute_url(path('public_index')) }}"
            },
            "publisher": {
                "@type": "Organization",
                "name": "Zorglux",
                "logo": {
                    "@type": "ImageObject",
                    "url": "{{ logoUrl }}"
                }
            },
            "url": "{{ path('public_social_share') }}"
        }
    </script>

{% endblock %}

{% block body_header %}
    {% include '@common/navbar.html.twig' %}
{% endblock %}

{% block body_content %}
    <twig:Container>
        <h1 class="text-4xl font-extrabold mb-5 text-gray-800">On est présent partout ... ou presque</h1>

        <section class="mb-5">
            <h2 class="text-2xl font-bold mb-3">1. Twitter</h2>
            <p class="mb-5">Découvrez les dernières nouvelles, les mises à jour et nos pensées les plus folles sur X (anciennement Twitter). Suivez-nous pour ne rien manquer!</p>
            <blockquote class="twitter-tweet grow"><p lang="fr" dir="ltr">Présentation de Zorglux<a
                        href="https://t.co/QYJx8jYCeu">https://t.co/QYJx8jYCeu</a></p>&mdash; zorglux_works
                (@zorglux_works) <a
                    href="https://twitter.com/zorglux_works/status/1797412860412174748?ref_src=twsrc%5Etfw">June 2,
                    2024</a>
            </blockquote>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </section>

        <section class="mb-5">
            <h2 class="text-2xl font-bold mb-3">2. TikTok</h2>
            <p class="mb-5">Venez jeter un œil à nos vidéos courtes et captivantes sur TikTok! Entre défis amusants, astuces technologiques et coulisses de notre entreprise, il y a de quoi se divertir et s'informer.</p>
            <blockquote class="tiktok-embed grow" cite="https://www.tiktok.com/@zorglux.works"
                        data-unique-id="zorglux.works" data-embed-type="creator"
                        style="max-width: 780px; min-width: 288px;">
                <section><a target="_blank" href="https://www.tiktok.com/@zorglux.works?refer=creator_embed">@zorglux.works</a>
                </section>
            </blockquote>
            <script async src="https://www.tiktok.com/embed.js"></script>
        </section>

        <section class="mb-5">
            <h2 class="text-2xl font-bold mb-3">3. Facebook</h2>
            <p class="mb-5">Rejoignez notre communauté sur Facebook pour des mises à jour régulières, des événements exclusifs et des échanges intéressants. Notre page est le lieu idéal pour rester connecté avec nous et les autres fans de Zorglux.</p>
            <div class="fb-page" data-href="https://www.facebook.com/zorglux" data-tabs="timeline" data-width="500"
                 data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true"
                 data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/zorglux" class="fb-xfbml-parse-ignore"><a
                        href="https://www.facebook.com/zorglux">Zorglux</a></blockquote>
            </div>
            <script async defer crossorigin="anonymous"
                    src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v20.0&appId=295927129057004"
                    nonce="07MpVedS"></script>
        </section>

        <section class="mb-5">
            <h2 class="text-2xl font-bold mb-3">4. LinkedIn</h2>
            <p class="mb-5">Pour nos connexions professionnelles et les mises à jour sérieuses, retrouvez-nous sur LinkedIn. C'est ici que nous partageons nos réussites, nos annonces officielles et des articles perspicaces sur notre industrie.</p>
            <div class="flex flex-row justify-center bg-gray-50 p-5 rounded">
                <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:7203509587797291008" height="355"
                        width="auto" frameborder="0" allowfullscreen="" title="Post intégré"></iframe>
            </div>
        </section>

        <section class="mb-5">
            <h2 class="text-2xl font-bold mb-3">5. YouTube</h2>
            <p class="mb-5">Abonnez-vous à notre chaîne YouTube pour des vidéos plus longues et détaillées. Vous y trouverez des tutoriels, des présentations de produits et des événements en direct. Ne manquez rien de notre contenu vidéo le plus riche!</p>
            <div class="flex flex-row justify-center bg-gray-50 p-5 rounded">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/y43XmDZJ_xo?si=qvMlhUKwIj-wAkPs"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </section>
    </twig:Container>

    {% set contentWrapperClasses = [
        'flex',
        'flex-row',
        'grow',
        'justify-center',
        'items-center',
    ]|join(' ') %}

    {% set contentClasses = [
        'w-full',
        'px-5',
        'md:w-2/3',
    ]|join(' ') %}

    <div id="latest-posts" class="{{ contentWrapperClasses }}">
        <div class="{{ contentClasses }}">
            <h2 class="font-bold">Les derniers articles</h2>
            {% include '@public/partials/latest-posts.html.twig' %}
        </div>
    </div>

    <div class="{{ contentWrapperClasses }}">
        <div class="{{ contentClasses }}">
            <h2 class="font-bold">Galeries photos</h2>
            {% include '@public/partials/gallery.html.twig' with {
                images: galleries,
                withMoreLink: true,
            } %}
        </div>
    </div>
{% endblock %}
