{% extends 'base.html.twig' %}

{% set title = 'Zorglux - Découvrez les derniers articles de blog' %}
{% set description = "Explorez les derniers articles de blog sur Zorglux. Plongez dans des sujets passionnants, rédigez vos propres articles, et partagez vos idées avec notre communauté dynamique." %}
{% set logoUrl = 'https://zorglux-bucket.s3.eu-north-1.amazonaws.com/zorglux.webp' %}

{% block title %}{{ title }}{% endblock %}

{% block canonical %}
    <link rel="canonical" href="{{ absolute_url(path('blog_index')) }}">
{% endblock %}

{% block meta %}
    <meta name="description" content="{{ description }}">
    <meta name="author" content="Zorglux">
{% endblock %}

{% block meta_og %}
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ logoUrl }}">
    <meta property="og:url" content="{{ path('blog_index') }}">
    <meta property="og:type" content="website">
{% endblock %}

{% block meta_twitter %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ logoUrl }}">
{% endblock %}

{% block jsonld %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "ItemList",
            "itemListElement": [
            {% for blog in blogs %}
                {
                    "@type": "ListItem",
                    "position": {{ loop.index }},
                    "item": {
                        "@type": "BlogPosting",
                        "headline": "{{ blog.title }}",
                        "description": "{{ blog.description }}",
                        "url": "{{ path('blog_read', { slug: blog.slug }) }}",
                        "articleBody": "{{ blog.content|striptags|replace({ "\n": " ", "\r": " " }) }}",
                        "image": "{{ blog.thumbnail }}",
                        "author": {
                            "@type": "Person",
                            "name": "{{ blog.author.username }}",
                            "image": "{{ blog.author.avatar|default('https://zorglux-bucket.s3.eu-north-1.amazonaws.com/default/avatar.jpg') }}"
                        },
                        "datePublished": "{{ blog.createdAt|date('Y-m-d\\TH:i:sP') }}",
                        "dateModified": "{{ blog.updatedAt|date('Y-m-d\\TH:i:sP') }}",
                        "publisher": {
                            "@type": "Organization",
                            "name": "Zorglux",
                            "logo": {
                                "@type": "ImageObject",
                                "url": "{{ logoUrl }}"
                            }
                        },
                        "mainEntityOfPage": {
                            "@type": "WebPage",
                            "@id": "{{ path('blog_read', { slug: blog.slug }) }}"
                        }
                    }
                }{% if not loop.last %},{% endif %}
            {% endfor %}
        ]
    }
    </script>
{% endblock %}

{% block body_header %}
    {% include '@common/navbar.html.twig' %}
{% endblock %}

{% block body_content %}
    {% set options = {
        classes: 'cursor-pointer border-b border-b-gray-100 py-8',
    } %}

    {% set classes = [
        'px-5',
        'md:px-10',
        'w-full',
        'md:w-3/4',
        'xl:w-2/3',
        '2xl:w-1/2',
    ] %}

    <twig:Container :useDefaultClasses="false" :classes="classes">
        <h1 class="text-gray-800 font-bold text-3xl">Découvrez les derniers articles publiés sur Zorglux</h1>
        <hr class="bg-gray-50">
        {% for blog in blogs %}
            <div {{ stimulus_controller('clickable', {
                url: path('blog_read', { slug: blog.slug }),
                title: blog.title,
            }) }}>
                <twig:BlogCard :blog="blog" :options="options" />
            </div>
        {% endfor %}

        <div class="">
            <h2 class="font-bold">Galeries photos</h2>
            {% include '@public/partials/gallery.html.twig' with {
                images: galleries,
                withMoreLink: true,
            } %}
        </div>
    </twig:Container>


{% endblock %}
