<nav class="w-full">
    <div class="bg-white md:flex md:flex-row md:items-center md:justify-between shadow p-4">
        {% block left_content %}
        <div class="flex flex-row items-center justify-between">
            <a href="{{ path('public_index') }}">
                <img src="https://zorglux-bucket.s3.eu-north-1.amazonaws.com/zorglux.webp" width="60" height="60" alt="zorglux logo" class="mr-5">
            </a>
            <div class="flex flex-row items-center">
                {% if app.user %}
                    <twig:Avatar size="30" classes="md:hidden mr-5" img="{{ app.user.avatar|default(null) }}" />
                {% endif %}
                <button {{ stimulus_action('menu_toggler', 'toggle') }} class="md:hidden" name="menu-toggler" aria-label="toggleMenu"><i class="fa-solid fa-bars text-3xl bg-clip-text text-transparent bg-gradient-to-b from-blue-600 to-orange-600"></i></button>
            </div>
        </div>
        {% endblock %}
        {% block right_content %}
        <div class="hidden md:flex flex-row items-center">
            <a href="{{ path('blog_index') }}" class="p-2 text-gray-700">Lire</a>
            <a href="{{ path('blog_write') }}" class="p-2 text-gray-700">Ecrire</a>
            <a href="{{ path('gallery_index') }}" class="p-2 text-gray-700">Galeries</a>
            {% if app.user %}
                <a href="{{ path('app_logout') }}" class="p-2 text-gray-700">Se Déconnecter</a>
            {% else %}
                <a href="{{ path('app_register') }}" class="p-2 text-gray-700">Inscription</a>
                <a href="{{ path('app_login') }}" class="p-2 text-gray-700">Connexion</a>
            {% endif %}
            {% if app.user %}
                <twig:Avatar size="30" img="{{ app.user.avatar|default(null) }}" />
            {% endif %}
        </div>
        {% endblock %}
    </div>
</nav>

<div {{ stimulus_target('menu_toggler', 'menu') }} class="md:hidden transition-transform -translate-x-full w-4/5 min-h-screen absolute top-0 bg-white border">
    {% block mobile_menu %}
        <div class="flex flex-col text-center">
            <a href="{{ path('public_index') }}" class="p-4 self-center">
                <img src="https://zorglux-bucket.s3.eu-north-1.amazonaws.com/zorglux.webp" alt="zorglux logo" width="80" height="80">
            </a>
            <a href="{{ path('blog_index') }}" class="p-2 text-gray-700">Lire</a>
            <a href="{{ path('blog_write') }}" class="p-2 text-gray-700">Ecrire</a>
            <a href="{{ path('gallery_index') }}" class="p-2 text-gray-700">Galeries</a>
            {% if app.user %}
                <a href="{{ path('app_logout') }}" class="p-2 border-b border-b-gray-100 text-gray-700">Se Déconnecter</a>
            {% else %}
                <a href="{{ path('app_register') }}" class="p-2 border-b border-b-gray-100 text-gray-700">Inscription</a>
                <a href="{{ path('app_login') }}" class="p-2 border-b border-b-gray-100 text-gray-700">Connexion</a>
            {% endif %}
        </div>
    {% endblock %}
</div>

