<article class="{{ this.classes }}">
    {% if this.variant is same as 'default' %}
        <div class="flex flex-row items-center text-gray-700" {{ stimulus_action('clickable', 'visit', 'click') }}>
            <twig:Avatar
                img="{{ this.blog.author.avatar|default('https://zorglux-bucket.s3.eu-north-1.amazonaws.com/default/avatar.jpg') }}"
                :name="this.blog.author.username"
                classes="flex flex-row items-center"
                imageClasses="mr-2 rounded-full object-cover"
                usernameClasses="text-xs"
                size="25"
            />
        </div>
        <div class="flex flex-row justify-between">
            <div class="w-full flex flex-col justify-between">
                <div {{ stimulus_action('clickable', 'visit', 'click') }}>
                    <header>
                        <h2 class="text-2xl font-bold my-2">
                            {{ this.title }}
                        </h2>
                    </header>
                    <section>
                        <p class="line-clamp-5 text-gray-500">{{ this.description }}</p>
                    </section>
                </div>
                <figure
                    class="flex justify-center md:hidden bg-gray-50 py-5 rounded"
                    {{ stimulus_action('clickable', 'visit', 'click') }}
                >
                    <a class="" href="{{ this.blog.thumbnail }}" title="{{ this.title }}">
                        <img src="{{ this.blog.thumbnail }}" alt="{{ this.title }}" width="200" height="200">
                    </a>
                </figure>
                <footer class="mt-3 text-xs text-gray-500 flex flex-row">
                    <time class="mr-4" datetime="{{ this.createdAt|date }}">{{ this.createdAt|date('M d') }}</time>
                    <div class="grid grid-cols-2 gap-2">
                        <twig:LikeButton class="col-span-1" :blog="blog" />
                        <twig:CommentButton class="col-span-1" :blog="blog" :withCommentsContainer="false" />
                    </div>
                </footer>
            </div>
            <figure
                class="hidden md:flex flex-col justify-center ml-4" {{ stimulus_action('clickable', 'visit', 'click') }}
            >
                <img src="{{ this.blog.thumbnail }}" loading="lazy" alt="{{ this.title }}" width="300" height="300">
            </figure>
        </div>
    {% elseif this.variant is same as 'compact' %}
        <div
            class="flex flex-row items-center" {{ stimulus_action('clickable', 'visit', 'click') }}
        >
            <figure
                class="flex flex-col justify-center min-w-24 mr-2"
            >
                <img src="{{ this.blog.thumbnail }}" alt="{{ this.title }}" width="85" height="85" loading="lazy">
            </figure>
            <div>
                <header>
                    <h3 class="text-base line-clamp-3 font-bold mt-0 mb-1 leading-5">
                        {{ this.title }}
                    </h3>
                </header>
                <section>
                    <p class="text-xs line-clamp-3 text-gray-500">{{ this.description }}</p>
                </section>
            </div>
        </div>
    {% endif %}
</article>
